/target/
src/main/generated-sources/
!.mvn/wrapper/maven-wrapper.jar
/src/main/generated-sources/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.ucls

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
*.log

#Ignore META-INF 
META-INF


